<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </nav>

    <p>La difícil situación de Spider-Man iba a ser mal entendida y perseguida por el mismo público al que juró proteger. En el primer número de The Amazing Spider-Man, J. Jonah Jameson, editor del Daily Bugle, lanza una campaña editorial contra la "amenaza de Spider-Man". La publicidad negativa resultante exacerba las sospechas populares sobre el misterioso hombre araña y le imposibilita ganar más dinero con sus actuaciones. Finalmente, la mala prensa lleva a las autoridades a tildarlo de forajido. Irónicamente, Peter consigue un trabajo como fotógrafo para el Daily Bugle de Jameson</p>

    <p>En la mayoría de sus aventuras, Parker se esfuerza por mantener secreta su identidad como Spider-Man, excepto por acontecimientos como la guerra civil citada anteriormente, en la cual se vio obligado a revelarla ante el público. Tal grado de compromiso es equiparable al de salvar a otras personas, por lo que es propenso a culparse a sí mismo cuando no consigue tal propósito, aun cuando estuviese fuera de su alcance. De hecho, la muerte de su tío Ben es uno de los momentos decisivos en su consolidación como el hombre araña.</p>
    
</body>
</html>